.header__lang-link {
  transition: opacity .6s linear;
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  transition: opacity .6s linear;
  padding-right: 18px;
}

.header__lang-link:nth-child(2) {
  padding-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.11;
  }
}