.places {
  margin: 0 auto;
  width: 76.9%;
}

@media (max-width: 1024px) {
  .places {
    width: 90.7%;
  }
}

@media (max-width: 768px) {
  .places {
    width: 93.8%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .places {
    width: 100%;
  }
}