.cover__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
  grid-column: 1;
  grid-row: 3/3;
  z-index: 5;
  padding-top: 429px;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    padding-top: 379px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    padding-top: 299px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    max-width: 260px;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 119px;
  }
}