.header {
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 93.8%;
 }
}

@media (min-width: 320px) and (max-width: 767px) {

  .header {
    width: 90%;
    box-sizing: border-box;
    padding-top: 16px;
    max-width: 288px;
  }
}