.place__paragraph {
  margin:0;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  padding-top: 26px;
  grid-area: text;
  grid-column: 2;
  grid-row: span 1;
}

.place__paragraph:first-of-type {
  padding: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    width: 100%;
 }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    order: 4;
    padding-top: 25px;
  }
  
  .place__paragraph:first-of-type {
    padding-top: 25px;
  }
}