.place__paragraph {
  margin:0;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
  padding-top: 26px;
  grid-area: text;
  grid-column: 2;
  grid-row: span 1;
}

.place__paragraph:first-of-type {
  padding: 0;
}