.lead__image-container {
  margin: 0 auto;
  max-width: 984px;
  width: 100%;
}

@media (max-width: 1280px) {
  .lead__image-container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .lead__image-container {
    width: 100%
  };
}