.cover {
  margin:0 auto;
  padding-top: 92px;
  box-sizing: border-box;
  width: 92.4%;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    width: 100%;
    padding-top: 90px;
  }
}