@import url(../vendor/normalize.css);
@import url(../pages/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_lang/header__lang-link_lang_en.css);
@import url(../blocks/header/__lang-link/_lang/header__lang-link_lang_ru.css);
@import url(../blocks/header/__lang-link/_underlined/header__lang-link_underlined.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__grid/lead__grid.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__group/lead__group.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__first-column/place__first-column.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__row/footer__row.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@media (max-width: 1024px) {

  .header {
    max-width: 928px;
  }

  .header__lang-link_lang_en {
    padding-right: 48px;
  }

  .lead {
    max-width: 100%;
  }

  .lead__title {
    width: 100%;
  }

  .lead__subtitle {
    width: 100%;
  }

  .lead__image {
    width: 100%;
  }

  .intro {
    max-width: 928px;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 14px;
    column-gap: 14px;
    max-width: 928px;
  }

  .photo-grid__item {
    width: 100%;
  }

  .place__text {
    max-width: 456px;
  }

  .place__title {
    max-width: 440px;
  }

  .places {
    max-width: 928px;
  }
  
  .place {
    column-gap: 32px;
    grid-template-columns: 440px minmax(min-content, max-content);
  }

  .place__image {
    width: calc(100% - 20px);
  }

  .cover {
    max-width: 1024px;
  }

  .cover__overlay {
    min-height: 640px;
  }

  .cover__overlay::before {
    min-height: 640px;
  }

  .cover__background {
    min-height: 640px;
  }

  .cover__title {
    padding-top: 195px;
  }

  .cover__subtitle {
    padding-top: 379px;
  }

  .footer {
    max-width: 928px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {

  .header {
    width: 93.8%;
  }

  .header__lang-link_lang_en {
    padding-right: 0;
  }

  .lead {
    width: 100%;
  }

  .lead__title {
    width: 98%;
  }

  .lead__subtitle {
    padding-bottom: 56px;
    width: 84%;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    padding-bottom: 88px;
    width: 93.8%;
  }

  .photo-grid {
    width: 93.8%;
    padding-bottom: 88px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }

  .places {
    width: 93.8%;
  }

  .place {
    column-gap: 28px;
    grid-template-columns: 340px minmax(min-content, max-content);
  }

  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 1.1;
  }

  .place__website {
    max-width: 356px;
  }

  .place__url-heading {
    line-height: 1;
  }

  .place__image {
    width: 100%;
  }

  .place__text {
    min-width: 352px;
  }

  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }

  .cover {
    width: 100%;
  }

  .cover__overlay {
    min-height: 480px;
  }

  .cover__overlay::before {
    min-height: 480px;
  }

  .cover__background {
    min-height: 480px;
  }

  .cover__title {
    padding-top: 115px;
  }

  .cover__subtitle {
    padding-top: 299px;
  }

  .footer {
    width: 93.8%;
  }
  
}


@media (min-width: 320px) and (max-width: 600px) {

  .header {
    width: 90%;
    box-sizing: border-box;
    padding-top: 16px;
    max-width: 288px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    height: 20px;
    padding-top: 20px;
  }

  .header__lang-link_lang_ru {
    font-size: 18px;
    line-height: 1.11;
  }

  .header__lang-link_lang_en {
    font-size: 18px;
    line-height: 1.11;
  }

  .lead {
    max-width: 320px;
    width: 100%;
  }

  .lead__title {
    font-size: 44px;
    line-height: 1.1;
    padding-top: 48px;
  }

  .lead__subtitle {
    width: 100%;
    line-height: 1.25;
    font-size: 16px;
    padding-bottom: 20px;
    max-height: 40px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    padding-bottom: 64px;
    max-width: 288px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }

  .photo-grid {
    max-width: 288px;
    display: flex;
    flex-direction: column;
  }

  .places {
    width: 100%;
  }

  .place {
    display: flex;
    flex-direction: column;
  }
  

  .place__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
    margin-left: 5%;
    margin-right: 5%;
    order: 1;
  }

  .place__paragraph {
    max-width: 288px;
    margin-left: 5%;
    margin-right: 5%;
    order: 4;
    padding-top: 25px;
  }
  
  .place__paragraph:first-of-type {
    padding-top: 25px;
  }

  .place__image {
    order: 3;
    object-fit: cover;
    max-width: 330px;
  }

  .place__website {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    order: 2;
  }

  .cover__overlay {
    min-height: 200px;
  }

  .cover__overlay::before {
    min-height: 200px;
  }

  .cover__background {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .cover__title {
    max-width: 240px;
    font-size: 32px;
    line-height: 1.09;
    padding-top: 33px;
  }

  .cover__subtitle {
    max-width: 260px;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 119px;
  }

  .footer {
    max-width: 288px;
    padding-top: 64px;
    padding-bottom: 24px;
  }

  .footer__row {
    padding: 0;
    flex-direction: column;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }

  .footer__link:last-child {
    padding-bottom: 48px;
  }

  .footer__copyright {
    align-self: flex-start;
    line-height: 1;
  }
}
