.lead__caption {
  margin: 0 auto;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  justify-self: flex-start;
  padding-top: 8px;
}

@media (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
 }
}
